@model School.Data.Entities.Subject

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<br />
<div>
    <h4>Subject</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Workload)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Workload)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.AttendancePercentageMin)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.AttendancePercentageMin) %
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-success"><i class="fa fa-chevron-left"></i> Back to List</a>
</div>
